
<!DOCTYPE html>
<html lang="en">
<!-- header -->
{% include "head.html" %}

<body>

<!-- Preloader 
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
./ Preloader -->

<!-- Layout wrapper -->
<div class="layout-wrapper">
  {% include "header_bar.html" %}
  {% include "menu.html" %}

    <!-- Content body -->
    <div class="content-body">
      <!-- Content -->
      <div class="content">
      </div>
    </div>

    {% include "sidebar.html" %}
</div>


{% include "scripts.html" %}
</body>
</html>