<!-- begin::navigation -->
<div class="navigation">
    <div class="logo">
        <a href=/index>
            <img src="{{ url_for('static', filename='/alwa/assets/media/image/logo-painal.png') }}" alt="logo">
        </a>
    </div>
    <ul>
        <li>
            <a href="/index">
                <i class="nav-link-icon ti-pie-chart"></i>
                <span class="nav-link-label">Inicio</span>
            </a>
        </li>
        <li>
            <a href="/grupos">
                <i class="nav-link-icon ti-user"></i>
                <span class="nav-link-label">Grupos</span>
            </a>
        </li>
        <li>
            <a href="/catalogos">
                <i class="nav-link-icon ti-folder"></i>
                <span class="nav-link-label">Catálogos</span>
            </a>
        </li>
        <li>
            <a href="/dashboard">
                <i class="nav-link-icon ti-folder"></i>
                <span class="nav-link-label">Metadatos</span>
            </a>
        </li>
        <li>
            <a href="/opciones">
                <i class="nav-link-icon ti-settings"></i>
                <span class="nav-link-label">Configuración</span>
            </a>
        </li>
    </ul>
</div>
<!-- end::navigation -->